@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700;900&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #24252A;
    font-family: "Montserrat";
}

iframe {
    position: absolute;
    margin-top: auto;
    margin-left: 10%
}

li, a {
    
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16;
    color: #EDF0F1;
    text-decoration: none;
}

header {
    padding-top: 7%;
    padding-right: 15%;
}

.content {
    color: #EDF0F1;
    padding-left: 15%;
    padding-bottom: 15%;
}

.content-projects {
    color: #EDF0F1;
    padding-left: 15%;
    padding-bottom: 10%;
}

ul {
    list-style-type: none;
    line-height: 35px;
}

.name {
    font-family: "Montserrat";
    font-size: 100px;
    padding-bottom: 13%;
    font-weight: 900;
}

.projects {
    font-family: "Montserrat";
    font-size: 65px;
    padding-bottom: 10%;
    font-weight: 900;    
}

.about {
    font-size: 50px;
}

.buttons-right {
    float: right;
}

.fa-brands, .fa-envelope {
    size: 70px;
    padding: 15px;
    color: #EDF0F1;
    cursor: pointer;
}

.fa-brands:hover, .fa-envelope:hover {
    color: #0088A9;
}

.nav {
    text-align: right;
    font-size: 16px;
}

.icons {
    text-align: right;
}

.nav__list {
    list-style: none;
    transition: ease-in-out 0.3s;
}

.nav__item {
    display: inline-block;
    padding: 0px 7px;
}

.nav__link:hover{
    color: #0088A9;
}

.intro {
    font-size: 17px;
    float: left;
}

.content-left {
    float: left;
}

.content-right {
    font-size: 15px;
    padding-top: 10%;
    padding-right: 17%;
}

.active {
    color: #0088A9;
}

.link:hover {
    color: #0088A9;
} 

.grid-container {
    margin-left: 15%;
    margin-right: 15%;
    display: inline-grid;
    grid-gap: 5%;
    justify-content: center;
    grid-template-columns: 1fr;
}


.card {
    overflow: hidden;
    box-shadow: 0px 2px 20px #000000;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: transform 200ms ease-in;
    color: #EDF0F1;
}

.card__image {
        height: 250px;
        width: 100%;
        object-fit: cover;
}

.card__title {
        padding: 1rem;
}

.card__description {
        padding: 0 1rem;
}

.card__btn {
        padding: 1rem;
        font-family: inherit;
        font-weight: 500;
        font-size: 1rem;
        margin: 1rem;
        border: 2px solid #EDF0F1;
        background: transparent;
        color: #EDF0F1;
        border-radius: 10px;
        cursor: pointer;
}

.card:hover {
        transform: scale(1.02);

}

.card:hover .card__btn {
    background: #EDF0F1;
    color: #24252A;
}

    
@media screen and (min-width: 900px) {
    img {
        height: 350px;
    }

    .grid-container {
        grid-template-columns: 1fr 1fr;
    }
}