@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700;900&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #24252A;
    font-family: "Montserrat";
}

iframe {
    position: absolute;
    margin-top: auto;
    margin-left: 10%
}

li, a {
    
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16;
    color: #EDF0F1;
    text-decoration: none;
}

header {
    padding-top: 7%;
    padding-right: 15%;
}

.content {
    color: #EDF0F1;
    padding-left: 15%;
}

ul {
    list-style-type: none;
    line-height: 35px;
}

.name {
    font-family: "Montserrat";
    font-size: 100px;
    padding-bottom: 5%;
    font-weight: 900;
}

.about {
    font-size: 50px;
}

.buttons-right {
    float: right;
}

.fa-brands, .fa-envelope {
    size: 70px;
    padding: 15px;
    color: #EDF0F1;
    cursor: pointer;
}

.fa-brands:hover, .fa-envelope:hover {
    color: #0088A9;
}

.nav {
    text-align: right;
    font-size: 16px;
}

.icons {
    text-align: right;
}

.nav__list {
    list-style: none;
    transition: ease-in-out 0.3s;
}

.nav__item {
    display: inline-block;
    padding: 0px 7px;
}

.nav__link:hover{
    color: #0088A9;
}

.intro {
    font-size: 17px;
    float: left;
}

.content-left {
    float: left;
}

.content-right {
    font-size: 15px;
    padding-top: 10%;
    padding-right: 17%;
}

.active {
    color: #0088A9;
}

/* .parent-body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    margin-top: auto;
}

.round-image {
    margin-left: auto;
    max-width: 150px;
}

.about-text {
    color: #EDF0F1;
    position: relative;
    margin-top: 30%;
}

.title {
    font-family: "Montserrat", "sans-serif";
    font-size: 45px;
}

.info, .fa-location-dot {
    font-family: "Montserrat";
    font-size: 18px;
}

*/

.link:hover {
    color: #0088A9;
} 